#content {
  margin-left: 11rem;
  margin-right: 1rem;
  max-width: 25%;
  margin-top: 17rem;
  padding-left: 51px;
}

.champion-container {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
.champion-container > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.champion {
  max-width: 50%;
}

@media only screen and (max-width: 600px) {
  .champion-container > p {
    display: none;
  }
}




