.title{
    font-family: 'BeaufordLOLbold';
    margin: 10px;
    font-size: 100px;
    font-weight: bold;
}

.presentacion{
    margin-top: 27rem !important;
    margin-left: 88rem !important; 
    font-family: 'BeaufordLOLbold';
}

body {
    font-family: 'BeaufordLOLbold';
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    background-image: url('../../img/ImagenIndex.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #091428;
    display: flex;
}