.title {
    font-family: 'BeaufordLOLbold';
    font-size: 6.25rem;
    font-weight: bold;
    text-align: left;
    line-height: -2rem;
 
}

.logo-title {
    width: 6.25rem;
    height: auto;
    vertical-align: middle;

}

.subtitle {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: left;
 

}

.search-container {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 1rem;
    margin: 1rem;

}


.presentacion-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    min-height: 100vh;
    position: absolute;
    right: 10%;
    top: 45%;
}

.presentacion {
    max-width: 100%;
    font-family: 'BeaufordLOLbold';
    text-align: left;
    color: #091428;
}

body {
    font-family: 'BeaufordLOLbold';
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/ImagenIndex.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #091428;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 1460px) {

    body {
        font-family: 'BeaufordLOLbold';
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../../img/ImagenIndex.jpg') !important;
        background-repeat: no-repeat;
        backdrop-filter: brightness(40%);
        background-size: cover;
        background-color: #091428;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .presentacion {
        max-width: 100%;
        font-family: 'BeaufordLOLbold';
        text-align: left;
        color: #C8AA6E;
    }

}